@charset "UTF-8";


ul#albumfoto
{
    position: absolute;
    display: block ;  
    margin: auto;
    margin: -8px;
    padding: 50px;
    overflow: hidden;
    list-style: none;
    padding-top: 350px;
    left: 150px;
    top: 800px;
    
}
ul#albumfoto li
{
    float: left;
    width: 200px;
    height: 200px;
    margin: 5px;
    border: 1px solid #ffffff;
    background-color: #ffffff;
    box-shadow: 1px 1px 3px rgba(0,0,0,.4);
}
ul#albumfoto li#foto01
{
    background: url('../original/prod03.png') no-repeat;
    background-position: 50% 50%;
    background-size: 400px 400px;
    background-color: #ffffff;
}
ul#albumfoto li#foto01:hover
{
    background-position: 0px 0px;
    background-size: 200px 200px;
}
 
ul#albumfoto li#foto02
{
    background: url('../original/prod04.png') no-repeat;
    background-position: 50% 50%;
    background-size: 400px 400px;
    background-color: #ffffff;
}
ul#albumfoto li#foto02:hover
{
    background-position: 0px 0px;
    background-size: 200px 200px;
}
ul#albumfoto li#foto03
{
    background: url('../original/prod02.png') no-repeat;
    background-position: 50% 50%;
    background-size: 400px 400px;
    background-color: #ffffff;
}
ul#albumfoto li#foto03:hover
{
    background-position: 0px 0px;
    background-size: 200px 200px;
}
ul#albumfoto li#foto04
{
    background: url('../original/prod01.png') no-repeat;
    background-position: 50% 50%;
    background-size: 400px 400px;
    background-color: #ffffff;
}
ul#albumfoto li#foto04:hover
{
    background-position: 0px 0px;
    background-size: 200px 200px;
}


ul#albumfoto li span
{
    opacity: 0;
    color: #ffffff;
    text-shadow: 1px 1px 1px #000000;
    background-color: rgba(0,0,0,.3);
    font-size: 9pt;
    line-height: 370px;
    padding: 5px;

}
ul#albumfoto li:hover span
{
    opacity: 1;
}
ul#albumfoto li:hover
{
    -webkit-transform: scale(1.5);
    -webkit-transition: all .4s ease-in;
}
